<br> <br>
<div class="container-fluid">
  <div class="timeline row" data-toggle="isotope">
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default share clearfix-xs">
          <div class="panel-heading panel-heading-gray title">
            What&acute;s new
          </div>
          <div class="panel-body">
            <textarea name="status" class="form-control share-text" rows="3" placeholder="Share your status..."></textarea>
          </div>
          <div class="panel-footer share-buttons">
            <a href="#"><i class="fa fa-map-marker"></i></a>
            <a href="#"><i class="fa fa-photo"></i></a>
            <a href="#"><i class="fa fa-video-camera"></i></a>
            <button type="submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Post</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img src="http://themekit-v4.themekit.io/dist/themes/social-1/images/people/50/guy-2.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="#">Jonathan</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
          </div>
          <div class="view-all-comments">
            <a href="#">
              <i class="fa fa-comments-o"></i> View all
            </a>
            <span>10 comments</span>

          </div>
          <ul class="comments">
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img src="http://themekit-v4.themekit.io/dist/themes/social-1/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right dropdown" data-show-hover="li">
                  <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
                <a href="#" class="comment-author pull-left">Bill D.</a>
                <span>Hi Mary, Nice Party</span>
                <div class="comment-date">21st September</div>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img src="http://themekit-v4.themekit.io/dist/themes/social-1/images/people/50/woman-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right dropdown" data-show-hover="li">
                  <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
                <a href="#" class="comment-author pull-left">Mary</a>
                <span>Thanks Bill</span>
                <div class="comment-date">2 days</div>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img src="http://themekit-v4.themekit.io/dist/themes/social-1/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right dropdown" data-show-hover="li">
                  <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
                <a href="#" class="comment-author pull-left">Bill D.</a>
                <span>What time did it finish?</span>
                <div class="comment-date">14 min</div>
              </div>
            </li>
            <li class="comment-form">
              <div class="input-group">

                <span class="input-group-btn">
         <a href="#" class="btn btn-default"><i class="fa fa-photo"></i></a>
      </span>

                <input type="text" class="form-control" />

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

</div>