<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
                 <a class="twitter-timeline"  href="https://twitter.com/NatGeo" data-widget-id="666408250745741313">Tweets by @NatGeo</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <style >
            .opa{
            	color: red;
            	}</style>
          <iframe class="opa" id="forecast_embed" type="text/html" frameborder="0" height="245" width="10%" src="http://feeds.wired.com/wired/index"> </iframe> 
