<p id="notice">
    <%= notice %>
</p>

    <body class="breakpoint-1024">
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="h3 pull-left margin-none">Courses</h1>
                
                <div class="clearfix"></div>
            </div>
            <%@requesters.each do |key,value|%>
            <%=key%>
            <%=value%>
            <%end%> 
        <a href="/courses/new">
        <button class="btn btn-primary btn-lg" type="submit" >Create Course</button>
        </a>
        </div>
    </body>
