<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer" lang="en">
<head>
  <title>Fcilms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
